body {
    background-attachment: fixed;
    background-image: url('https://img.freepik.com/free-psd/business-desk-with-notebook_23-2148504231.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}