{% extends 'base.html'%} {% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}}</title>
    <title>Home - Welcome to The Pitches of The Century</title>
    <!-- Styles block -->
    {% block styles%} {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet"> {% endblock %}
</head>

<body style="background-image: url('https://img.freepik.com/free-photo/top-view-office-stationery-with-pen-notebook_23-2148524768.jpg?size=626&ext=jpg');">
    {% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <div class="card border-info mb-3 column" style="max-width: 30rem;">
        <div class="card-header">
            PickUp Lines
        </div>
        <div class="card-body text-info">
            <h4 class="card-title"></h4>
            <p class="card-text">Did it hurt when you fell from the sky?</p>
        </div>
    </div>
    <div class="card border-info mb-3 column" style="max-width: 30rem;">
        <div class="card-header">
            PickUp Lines
        </div>
        <div class="card-body text-info">
            <h4 class="card-title"></h4>
            <p class="card-text">Did it hurt when you fell from the sky?</p>
        </div>
    </div>
    <div class="card border-info mb-3 column" style="max-width: 30rem;">
        <div class="card-header">
            Product Pitch
        </div>
        <div class="card-body text-info">
            <h4 class="card-title"></h4>
            <p class="card-text">A successful sales pitch begins a dialogue. Rather than starting with an opening line that’s all about you, try posing a question.</p>
        </div>
    </div>
    <div class="card border-info mb-3 column" style="max-width: 30rem;">
        <div class="card-header">
            Interview Pitch
        </div>
        <div class="card-body text-info">
            <h4 class="card-title"></h4>
            <p class="card-text">Did it hurt when you fell from the sky?</p>
        </div>
    </div>{% endblock %} </body>

</html>