{% extends 'base.html'%} {% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% if title %}
    <title> {{title}}</title>
    <title>Home - Welcome to The Pitches of The Century</title>{% endif %}
    <!-- Styles block -->
    {% block styles%} {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet"> {% endblock %}
</head>

<body>
    {% block content %}
    <section id="hero">
        <div class="hero-container">

            <div class="row">

                <div class="column">
                    <button type="button" class="btn btn-info center">Pick Up Lines</button>
                    <br>
                    <br>
                    <div class="card">
                        <p>Did it hurt when you fell from the sky?</p>
                    </div>
                </div>
                <div class="column">
                    <button type="button" class="btn btn-info">Product Pitch</button>
                    <br>
                    <br>
                    <div class="card">
                        <p>Innovation, Invention and Creation</p>
                    </div>
                </div>
                <div class="column">
                    <button type="button" class="btn btn-info">Interview Pitch</button>
                    <br>
                    <br>
                    <div class="card">
                        <p>You have to be prepared for anything</p>
                    </div>
                </div>
                <div class="column">
                    <button type="button" class="btn btn-info">Promotion Pitch</button>
                    <br>
                    <br>
                    <div class="card">
                        <p>Well is it because of your hardword or your creativity?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>{% endblock %}
</body>

</html>