<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}}</title>
    <title>Home - Welcome to The Pitches of The Century</title>
    {% endif %}
</head>

<body>
    <div class="row">
        <div class="column">
            <div class="card">
                <h1>Pick Up lines</h1>
            </div>

        </div>
        <div class="column">
            <div class="card">
                <h1>Intervew Pitch</h1>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h1>Product Pitch</h1>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h1>Promotion Pitch</h1>
            </div>
        </div>
    </div>

</body>

</html>
<h1 id="pitch"> Did you fall from {{ id }}</h1>